<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.byk.rong.system.mapper.read.MenuReadMapper">
  <resultMap id="BaseResultMap" type="com.byk.rong.system.entity.Menu">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="parent_id" jdbcType="VARCHAR" property="parentId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="perms" jdbcType="VARCHAR" property="perms" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="order_num" jdbcType="INTEGER" property="orderNum" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="delete_user" jdbcType="VARCHAR" property="deleteUser" />
    <result column="delete_time" jdbcType="TIMESTAMP" property="deleteTime" />
    <result column="del_flag" jdbcType="VARCHAR" property="delFlag" />
  </resultMap>
  <sql id="Base_Column_List">
    id, parent_id, name, url, perms, type, icon, order_num, create_user, create_time,
    update_user, update_time, delete_user, delete_time, del_flag
  </sql>
  <select id="selectById" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    FROM menu
    where id = #{id,jdbcType=VARCHAR}  AND del_flag = '0'
  </select>

  <select id="list" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from menu
    <where>
      <if test="id != null and id != ''"> and id = #{id} </if>
      <if test="parentId != null and parentId != ''"> and parent_id = #{parentId} </if>
      <if test="name != null and name != ''"> and name = #{name} </if>
      <if test="url != null and url != ''"> and url = #{url} </if>
      <if test="perms != null and perms != ''"> and perms = #{perms} </if>
      <if test="type != null and type != ''"> and type = #{type} </if>
      <if test="icon != null and icon != ''"> and icon = #{icon} </if>
      <if test="orderNum != null and orderNum != ''"> and order_num = #{orderNum} </if>
      <if test="createUser != null and createUser != ''"> and create_user = #{createUser} </if>
      <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
      <if test="updateUser != null and updateUser != ''"> and update_user = #{updateUser} </if>
      <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
      <if test="deleteUser != null and deleteUser != ''"> and delete_user = #{deleteUser} </if>
      <if test="deleteTime != null and deleteTime != ''"> and delete_time = #{deleteTime} </if>
      and del_flag = '0'
    </where>
    <choose>
      <when test="sort != null and sort.trim() != ''">
        order by ${sort} ${order}
      </when>
      <otherwise>
        order by order_num desc
      </otherwise>
    </choose>
    <if test="offset != null and limit != null">
      limit ${offset}, ${limit}
    </if>
  </select>

  <select id="selectByParams" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from menu
    <where>
      <if test="id != null and id != ''"> and id = #{id} </if>
      <if test="parentId != null and parentId != ''"> and parent_id = #{parentId} </if>
      <if test="name != null and name != ''"> and name = #{name} </if>
      <if test="url != null and url != ''"> and url = #{url} </if>
      <if test="perms != null and perms != ''"> and perms = #{perms} </if>
      <if test="type != null and type != ''"> and type = #{type} </if>
      <if test="icon != null and icon != ''"> and icon = #{icon} </if>
      <if test="orderNum != null and orderNum != ''"> and order_num = #{orderNum} </if>
      <if test="createUser != null and createUser != ''"> and create_user = #{createUser} </if>
      <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
      <if test="updateUser != null and updateUser != ''"> and update_user = #{updateUser} </if>
      <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
      <if test="deleteUser != null and deleteUser != ''"> and delete_user = #{deleteUser} </if>
      <if test="deleteTime != null and deleteTime != ''"> and delete_time = #{deleteTime} </if>
      and del_flag = '0'
    </where>
    <choose>
      <when test="sort != null and sort.trim() != ''">
        order by ${sort} ${order}
      </when>
      <otherwise>
        order by order_num desc
      </otherwise>
    </choose>
    <if test="offset != null and limit != null">
      limit ${offset}, ${limit}
    </if>
  </select>


  <!--  根据用户id查询菜单信息-->
  <!--   这里不能使用<include refid="Base_Column_List"/>，必须加别名。否则会引起异常-->
  <select id="listMenuByUserId" resultMap="BaseResultMap">
    select distinct  m.id, m.parent_id, m.name, m.url, m.perms, m.type, m.icon, m.order_num, m.create_user, m.create_time,
    m.update_user, m.update_time, m.delete_user, m.delete_time, m.del_flag
    from menu m
    left join role_menu rm on m.id = rm.menu_id left join user_role ur on rm.role_id =ur.role_id
    where ur.user_id = #{id}
    and m.type in(0,1) order by m.order_num
  </select>

  <!--<select id="listUserPerms" resultType="string">-->
    <!--select distinct m.perms-->
    <!--from sys_menu m left join-->
    <!--sys_role_menu rm on m.menu_id = rm.menu_id-->
    <!--left join sys_user_role ur-->
    <!--on rm.role_id = ur.role_id where ur.user_id-->
    <!--= #{id}-->
  <!--</select>-->
</mapper>