<!DOCTYPE html>
<html lang="en">
<head>
    <title>Matrix Admin</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-responsive.min.css"/>
    <link rel="stylesheet" href="/css/colorpicker.css"/>
    <link rel="stylesheet" href="/css/datepicker.css"/>
    <link rel="stylesheet" href="/css/uniform.css"/>
    <link rel="stylesheet" href="/css/select2.css"/>
    <link rel="stylesheet" href="/css/matrix-style.css"/>
    <link rel="stylesheet" href="/css/matrix-media.css"/>
    <link rel="stylesheet" href="/css/bootstrap-wysihtml5.css"/>
    <link href="/font-awesome/css/font-awesome.css" rel="stylesheet"/>
    <!--<link href="/myplugins/bootstrap-fileinput/css/bootstrap.min.css" rel="stylesheet"/>-->

    <!--<link href='http://fonts.useso.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>-->
</head>
<body style="color: #CDCDCD">

<div class="widget-box" style="height: 100%;border: 0px;">
    <form  class="form-horizontal"  id="signupForm" enctype="multipart/form-data">
        <div class="controls-row">
            <label class="control-label span4 m-wrap">项目名称 :</label>
            <div class="controls ">
                <input type="text" class="span9 m-wrap" id="projectName" name="projectName"/>
            </div>
        </div>
        <div class="controls-row">
            <label class="control-label span4 m-wrap">项目链接 :</label>
            <div class="controls ">
                <input type="text" class="span9 m-wrap" id="pageLink" name="pageLink" />
            </div>
        </div>
        <div class="controls-row">
            <label class="control-label span4 m-wrap">项目展示图片 :</label>
            <div class="controls "  >
                <input type="file" id="file_img" class="span9 m-wrap" />
                <p id="showimg"></p>
            </div>
        </div>

        <div class="controls-row">
            <label class="control-label span4 m-wrap">项目分类 :</label>
            <div class="controls">
                <select id="pageClass">
                    <option name="pageClass" value="hou" checked>后端</option>
                    <option name="pageClass" value="qian">前端</option>
                    <option name="pageClass" value="web">WEB</option>
                    <option name="pageClass" value="app">APP</option>
                    <option name="pageClass" value="boke">博客</option>
                </select>
            </div>
        </div>
        <div class="controls-row">
            <label class="control-label">打开方式 :</label>
            <div class="controls">
                <select id="targetLink">
                    <option name="targetLink" value="_blank" checked>打开新窗口（推荐）</option>
                    <option name="targetLink" value="_parent">刷线本页面</option>
                </select>
            </div>
        </div>

        <div class="controls-row">
        </div>
        <div class="controls-row " align="center">
            <button type="submit" class="btn btn-success" onclick="submit01();">确认</button>
        </div>
    </form>
</div>


<!--end-Footer-part-->
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.ui.custom.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/bootstrap-colorpicker.js"></script>
<script src="/js/bootstrap-datepicker.js"></script>
<script src="/js/jquery.toggle.buttons.html"></script>
<script src="/js/masked.js"></script>
<script src="/js/jquery.uniform.js"></script>
<script src="/js/select2.min.js"></script>
<script src="/js/matrix.js"></script>
<script src="/js/matrix.form_common.js"></script>
<script src="/js/wysihtml5-0.3.0.js"></script>
<script src="/js/jquery.peity.min.js"></script>
<script src="/js/bootstrap-wysihtml5.js"></script>
<script src="/myplugins/layer/layer.js"></script>
<script src="/js/rong/boke/project/add.js"></script>

<!--文件上传-->
<!--<script src="/myplugins/bootstrap-fileinput/js/bootstrap.min.js"></script>-->
<!--<script src="/myplugins/bootstrap-fileinput/js/fileinput_locale_zh.js"></script>-->

<script>

</script>
</body>
</html>
