<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/myplugins/bootstrap-table/bootstrap-table.min.css">
</head>
<body>
<table id="table"></table>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/myplugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="/myplugins/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
<script>
    $('#table').bootstrapTable({
        url: '/system/role/list',
        method: "get",
        dataType:'json',// 返回值数据类型,
        contentType:'application/json',   // 参数数据类型
        pagination:true,
        sidePagination:	'client',
        pageList:[10, 25, 50, 100],
        search:true,
        showPaginationSwitch:true,
        idField:'id',
        columns: [{
            field: 'id',
            title: '编号'
        }, {
            field: 'roleName',
            title: '角色名'
        }, {
            field: 'roleSign',
            title: '角色标注'
        },{
                field: 'remark',
                title: '备注'
            }]
    });

</script>
</body>
</html>