<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en"> <!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8"/>
    <title>Metronic | Form Stuff - Form Components</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="/media/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/media/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css"/>
    <link href="/media/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="/media/css/style-metro.css" rel="stylesheet" type="text/css"/>
    <link href="/media/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="/media/css/style-responsive.css" rel="stylesheet" type="text/css"/>
    <link href="/media/css/default.css" rel="stylesheet" type="text/css" id="style_color"/>
    <link href="/media/css/uniform.default.css" rel="stylesheet" type="text/css"/>
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link rel="stylesheet" type="text/css" href="/media/css/bootstrap-fileupload.css"/>
    <link rel="stylesheet" type="text/css" href="/media/css/jquery.gritter.css"/>
    <link rel="stylesheet" type="text/css" href="/media/css/chosen.css"/>
    <link rel="stylesheet" type="text/css" href="/media/css/select2_metro.css"/>
    <link rel="stylesheet" type="text/css" href="/media/css/jquery.tagsinput.css"/>
    <link rel="stylesheet" type="text/css" href="/media/css/clockface.css"/>
    <link rel="stylesheet" type="text/css" href="/media/css/bootstrap-wysihtml5.css"/>
    <link rel="stylesheet" type="text/css" href="/media/css/datepicker.css"/>
    <link rel="stylesheet" type="text/css" href="/media/css/timepicker.css"/>
    <link rel="stylesheet" type="text/css" href="/media/css/colorpicker.css"/>
    <link rel="stylesheet" type="text/css" href="/media/css/bootstrap-toggle-buttons.css"/>
    <link rel="stylesheet" type="text/css" href="/media/css/daterangepicker.css"/>
    <link rel="stylesheet" type="text/css" href="/media/css/datetimepicker.css"/>
    <link rel="stylesheet" type="text/css" href="/media/css/multi-select-metro.css"/>
    <link href="/media/css/bootstrap-modal.css" rel="stylesheet" type="text/css"/>
    <!-- END PAGE LEVEL STYLES -->
    <link rel="shortcut icon" href="/media/image/favicon.ico"/>
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="page-header-fixed">
<!-- BEGIN HEADER -->
<!-- END HEADER -->
<!-- BEGIN CONTAINER -->
<div class="page-container row-fluid">

    <!-- BEGIN PAGE -->
    <div class="page-content">

        <!-- BEGIN PAGE CONTAINER-->
        <div class="container-fluid">
            <!-- BEGIN PAGE HEADER-->
            <!-- END PAGE HEADER-->
            <!-- BEGIN PAGE CONTENT-->
            <div class="row-fluid">
                <div class="span12">
                    <!-- BEGIN SAMPLE FORM PORTLET-->
                    <div class="portlet">
                        <div class="portlet-body form">
                            <!-- BEGIN FORM-->
                            <form action="#" class="form-horizontal">

                                <input id="parentId" name="parentId" type="hidden" th:value="${pId}">
                                <div class="control-group">
                                    <label class="control-label">上级菜单：</label>
                                    <div class="controls">
                                        <input class="span6 m-wrap" type="text"  th:value="${pName}" disabled/>
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="col-sm-3 control-label">菜单名称：</label>
                                    <div class="col-sm-8 controls">
                                        <input type="text" name="name" class="span6 m-wrap popovers" data-trigger="hover" data-original-title="请输入菜单名称"/>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">排序：</label>
                                    <div class="controls">
                                        <input type="text" name="orderNum" class="span6 m-wrap popovers" data-trigger="hover" data-original-title="数字形式，值越小，排序越靠前"/>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">链接：</label>
                                    <div class="controls">
                                        <input type="text" name="url" class="span6 m-wrap popovers" data-trigger="hover" data-original-title="点击这个菜单所要跳转的链接"/>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">权限：</label>
                                    <div class="controls">
                                        <input type="text" name="perms" class="span6 m-wrap popovers" data-trigger="hover" data-original-title="点击这个菜单需要的权限信息"/>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">菜单类型：</label>
                                    <div class="controls">
                                        <label class="radio">
                                            <input type="radio" name="type" value="option1" checked/>
                                            目录
                                        </label>
                                        <label class="radio">
                                            <input type="radio" name="type" value="option2" />
                                            菜单
                                        </label>
                                        <label class="radio">
                                            <input type="radio" name="type" value="option2"/>
                                            按钮
                                        </label>
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label">图标：</label>
                                    <div class="controls">
                                        <input id="icon" name="icon" class="form-control" type="text"
                                               placeholder="例如：fa fa-circle-o">
                                        <input id="ico-btn" class="btn blue" type="button" value="选择图标">
                                    </div>

                                </div>
                                <div class="form-actions">
                                    <button type="button" class="btn green "><strong>提交</strong></button>
                                    <button type="button" class="btn red">取消</button>

                                </div>
                            </form>
                            <!-- END FORM-->
                        </div>
                    </div>
                    <!-- END SAMPLE FORM PORTLET-->
                </div>
            </div>

            <!-- END PAGE CONTENT-->
        </div>
        <!-- END PAGE CONTAINER-->
    </div>
    <!-- END PAGE -->
</div>

<!-- BEGIN CORE PLUGINS -->
<script src="/media/js/jquery-1.10.1.min.js" type="text/javascript"></script>
<script src="/media/js/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
<!-- IMPORTANT! Load jquery-ui-1.10.1.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
<script src="/media/js/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>
<script src="/media/js/bootstrap.min.js" type="text/javascript"></script>
<!--[if lt IE 9]>
<script src="/media/js/excanvas.min.js"></script>
<script src="/media/js/respond.min.js"></script>
<![endif]-->
<script src="/media/js/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="/media/js/jquery.blockui.min.js" type="text/javascript"></script>
<script src="/media/js/jquery.cookie.min.js" type="text/javascript"></script>
<script src="/media/js/jquery.uniform.min.js" type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script type="text/javascript" src="/media/js/ckeditor.js"></script>
<script type="text/javascript" src="/media/js/bootstrap-fileupload.js"></script>
<script type="text/javascript" src="/media/js/chosen.jquery.min.js"></script>
<script type="text/javascript" src="/media/js/select2.min.js"></script>
<script type="text/javascript" src="/media/js/wysihtml5-0.3.0.js"></script>
<script type="text/javascript" src="/media/js/bootstrap-wysihtml5.js"></script>
<script type="text/javascript" src="/media/js/jquery.tagsinput.min.js"></script>
<script type="text/javascript" src="/media/js/jquery.toggle.buttons.js"></script>
<script type="text/javascript" src="/media/js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="/media/js/bootstrap-datetimepicker.js"></script>
<script type="text/javascript" src="/media/js/clockface.js"></script>
<script type="text/javascript" src="/media/js/date.js"></script>
<script type="text/javascript" src="/media/js/daterangepicker.js"></script>
<script type="text/javascript" src="/media/js/bootstrap-colorpicker.js"></script>
<script type="text/javascript" src="/media/js/bootstrap-timepicker.js"></script>
<script type="text/javascript" src="/media/js/jquery.inputmask.bundle.min.js"></script>
<script type="text/javascript" src="/media/js/jquery.input-ip-address-control-1.0.min.js"></script>
<script type="text/javascript" src="/media/js/jquery.multi-select.js"></script>
<script src="/media/js/bootstrap-modal.js" type="text/javascript"></script>
<script src="/media/js/bootstrap-modalmanager.js" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="/media/js/app.js"></script>
<script src="/media/js/form-components.js"></script>
<!-- END PAGE LEVEL SCRIPTS -->
<script src="/js/rong/system/menu/add.js"></script>

<script>
    jQuery(document).ready(function () {
        // initiate layout and plugins
        App.init();
        FormComponents.init();
    });
</script>
<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>