<!DOCTYPE html>
<html lang="en">
<head>
    <title>Matrix Admin</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-responsive.min.css"/>
    <link rel="stylesheet" href="/css/colorpicker.css"/>
    <link rel="stylesheet" href="/css/datepicker.css"/>
    <link rel="stylesheet" href="/css/uniform.css"/>
    <link rel="stylesheet" href="/css/select2.css"/>
    <link rel="stylesheet" href="/css/matrix-style.css"/>
    <link rel="stylesheet" href="/css/matrix-media.css"/>
    <link rel="stylesheet" href="/css/bootstrap-wysihtml5.css"/>
    <link href="/font-awesome/css/font-awesome.css" rel="stylesheet"/>
    <!--<link href='http://fonts.useso.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>-->
</head>
<body style="color: #CDCDCD">

<div class="widget-box" style="height: 100%;border: 0px;">
    <form action="#" method="get" class="form-horizontal">
        <input class="id" name="parentId" type="hidden" th:value="${pId}"/>
        <div class="controls-row">
            <label class="control-label span4 m-wrap">上级菜单 :</label>
            <div class="controls ">
                <input type="text" class="span8 m-wrap" th:value="${pName}" readonly/>
            </div>
        </div>
        <div class="controls-row">
            <label class="control-label span4 m-wrap">菜单名称 :</label>
            <div class="controls ">
                <input type="text" class="span8 m-wrap" name="name" placeholder="菜单名称"/>
            </div>
        </div>
        <div class="controls-row">
            <label class="control-label span4 m-wrap">链接 :</label>
            <div class="controls ">
                <input type="text" class="span8 m-wrap" name="url" placeholder="比如：/system/menu/add"/>
            </div>
        </div>
        <div class="controls-row">
            <label class="control-label span4 m-wrap">权限信息 :</label>
            <div class="controls ">
                <input type="text" class="span8 m-wrap" name="perms" placeholder="比如：system:menu:add"/>
            </div>
        </div>

        <div class="controls-row">
            <label class="control-label span4 m-wrap">类型 :</label>
            <div class="controls">
                <label><input type="radio" name="type" value="0" checked/>目录</label>
                <label><input type="radio" name="type" value="1"/> 菜单</label>
                <label><input type="radio" name="type" value="2"/> 按钮</label>
            </div>
        </div>
        <div class="controls-row">
            <label class="control-label span4 m-wrap">排序 :</label>
            <div class="controls ">
                <input type="text" class="span8 m-wrap" name="orderNum" placeholder="数字形式：0排在1前"/>
            </div>
        </div>
        <div class="controls-row">
            <label class="control-label span4 m-wrap">图标 :</label>
            <div class="controls form-inline">
                <input type="text" class="span7 m-wrap" id="myIcon" name="icon" placeholder="图标"/>
                <button type="button" id="ico-btn" class="btn btn-info">选择</button>
            </div>
        </div>
        <div class="controls-row">
        </div>
        <div class="controls-row " align="center">
            <button type="" class="btn btn-success">确认</button>
        </div>
    </form>
</div>


<!--end-Footer-part-->
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.ui.custom.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/bootstrap-colorpicker.js"></script>
<script src="/js/bootstrap-datepicker.js"></script>
<script src="/js/jquery.toggle.buttons.html"></script>
<script src="/js/masked.js"></script>
<script src="/js/jquery.uniform.js"></script>
<script src="/js/select2.min.js"></script>
<script src="/js/matrix.js"></script>
<script src="/js/matrix.form_common.js"></script>
<script src="/js/wysihtml5-0.3.0.js"></script>
<script src="/js/jquery.peity.min.js"></script>
<script src="/js/bootstrap-wysihtml5.js"></script>
<script src="/myplugins/layer/layer.js"></script>
<script src="/js/rong/system/menu/add.js"></script>

<script>
    $('.textarea_editor').wysihtml5();



</script>
</body>
</html>
