<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>RONG | 管理员</title>
    <!-- BOOTSTRAP STYLES-->
    <link href="assets/css/bootstrap.css" rel="stylesheet"/>
    <!-- FONTAWESOME STYLES-->
    <link href="assets/css/font-awesome.css" rel="stylesheet"/>
    <!-- PAGE LEVEL STYLES-->
    <link href="assets/css/error.css" rel="stylesheet"/>
    <!-- GOOGLE FONTS-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
</head>
<body>
<div class="container">
    <div class="row text-center">
        <div class="col-md-12 set-pad">
            <strong class="error-txt">管理员离开</strong>
            <p class="p-err">你凝视深渊的时候，深渊也在凝视你。</p>
        </div>
    </div>
</div>
<div class="c-err">
    <div class="container">
        <!--Search Section Start-->
        <div class="row ">
            <div class="form-group input-group col-md-6 col-md-offset-3">
                <input type="text" class="form-control" placeholder="输入密码"/>
                <span class="input-group-btn">
                    <a class="btn btn-primary" href="javascript:;">
                        <i class="fa fa-gear fa-spin"></i>&nbsp;&nbsp;进入主页面
                    </a>
                </span>
            </div>
            <br/>
        </div>
        <!--Search Section end-->
    </div>
</div>
<div class="container">
    <div class="row text-center">
        <div class="col-md-12">
            <br/>
            <br/>
            <a class="btn btn-success" href="../index.html">
                PLEASE GO BACK TO WEBSITE ! NOTHING HERE
            </a>
            <br/>
            <br/>
        </div>
    </div>
</div>
<hr/>
<div class="container">
    <div class="row text-center">
        <div class="col-md-12">
            All Rights Reserved | &copy Yourdomain.com
        </div>
    </div>
</div>
</body>
</html>