<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>RONG | 管理系统</title>
    <link rel="shortcut icon" href="/favicon.ico"/>
    <link rel="bookmark" href="/favicon.ico"/>
    <!-- BOOTSTRAP STYLES-->
    <link href="assets/css/bootstrap.css" rel="stylesheet"/>
    <!-- FONTAWESOME STYLES-->
    <link href="assets/css/font-awesome.css" rel="stylesheet"/>
    <!--CUSTOM BASIC STYLES-->
    <link href="assets/css/basic.css" rel="stylesheet"/>
    <!--CUSTOM MAIN STYLES-->
    <link href="assets/css/custom.css" rel="stylesheet"/>
    <!-- GOOGLE FONTS-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
</head>
<body>
<div id="wrapper">
    <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/index">稚子候门</a>
        </div>
        <div class="header-right">
            <a href="rong/message-task.html" class="btn btn-info" title="新留言"><b>30 </b><i
                    class="fa fa-envelope-o fa-2x"></i></a>
            <a href="rong/message-task.html" class="btn btn-primary" title="新任务"><b>40 </b><i
                    class="fa fa-bars fa-2x"></i></a>
            <a href="javascript:;" class="btn btn-danger" title="全屏显示" onclick="enterFullScreen();"><i class="glyphicon glyphicon-modal-window"></i></a>
            <a href="/lock" class="btn btn-primary" title="锁屏离开"><i class="glyphicon glyphicon-lock"></i></a>
            <a href="/logout" class="btn btn-warning" title="退出登录"><i class="glyphicon glyphicon-remove"></i></a>
        </div>
    </nav>
    <!-- /左边菜单栏开始  -->
    <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">
                <!--这里显示登陆者信息-->
                <li>
                    <div class="user-img-div">
                        <img th:src="${user.pictrue}" class="img-thumbnail"/>
                        <div class="inner-text">
                            <h4 th:text="${user.userName}"> </h4>
                            <small>上次登录时间 : 3 小时前</small>
                        </div>
                    </div>
                </li>
                <!--登录者信息结束-->
                <li>
                    <a class="active-menu" href="/index"><i class="glyphicon glyphicon-home"></i>首页</a>
                </li>
                <li th:each="menu : ${menus}">
                    <a href="#" ><i class="fa fa-desktop " th:class="${menu.attributes.icon}"></i><span th:text="${menu.text}"></span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li th:each="cmenu : ${menu.children}">
                            <a  th:href="${cmenu.attributes.url}" target="myIframe"><i th:class="${menu.attributes.icon}"></i><span  th:text="${cmenu.text}"></span></a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <!-- /左边菜单栏结束  -->
    <div id="page-wrapper">
        <div id="page-inner">
            <iframe class="J_iframe" name="myIframe" width="100%" height="100%"
                    src="" th:src="@{/main}" frameborder="0" data-id="index.html" seamless></iframe>
        </div>
        <!-- /. PAGE INNER  -->
    </div>
    <!-- /. PAGE WRAPPER  -->
</div>

<!-- JQUERY SCRIPTS -->
<script src="assets/js/jquery-1.10.2.js"></script>
<!-- BOOTSTRAP SCRIPTS -->
<script src="assets/js/bootstrap.js"></script>
<!-- METISMENU SCRIPTS -->
<script src="assets/js/jquery.metisMenu.js"></script>
<!-- CUSTOM SCRIPTS -->
<script src="assets/js/custom.js"></script>
<script>
    //进入全屏
    function enterFullScreen() {
        var de = document.documentElement;
        if (de.requestFullscreen) {
            de.requestFullscreen();
        } else if (de.mozRequestFullScreen) {
            de.mozRequestFullScreen();
        } else if (de.webkitRequestFullScreen) {
            de.webkitRequestFullScreen();
        }
    }
    //退出全屏
    function exitFullScreen() {
        var de = document;
        if (de.exitFullscreen) {
            de.exitFullscreen();
        } else if (de.mozCancelFullScreen) {
            de.mozCancelFullScreen();
        } else if (de.webkitCancelFullScreen) {
            de.webkitCancelFullScreen();
        }
    }

</script>
</body>
</html>