<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
</head>
<body>
<div>
    <ul class="nav nav-pills nav-justified">
        <li role="presentation" class="active"><a href="#home">了解Rong</a></li>
        <li role="presentation"><a href="#environment">开发环境</a></li>
        <li role="presentation"><a href="#module">主要模块</a></li>
        <li role="presentation"><a href="#thanks">鸣谢</a></li>
        <li role="presentation"><a href="#log">更新日志</a></li>
    </ul>
</div>

<div id="home">
    <h1>了解rong</h1>
    <p style="text-indent:2em">Rong是模仿大神的作品，自己开发的一套练手的管理系统。</p>
</div>
<div id="environment">
    <h1>开发环境</h1>
    <h1>使用到的技术</h1>
    <hr>
    <h3>前端部分</h3>
    <ul>
        <li>BootStrup</li>
        <li>Layer</li>
    </ul>
    <h3>后端部分</h3>
    <ul>
        <li>SpringBoot</li>
        <li>Shiro</li>
    </ul>
</div>
<div id="module">

    <h1>主要模块</h1>
    <ul>
        <li>用户管理</li>
        <li>菜单管理</li>
        <li>代码生成</li>
        <li>数据统计</li>
        <li>通知管理</li>
        <li>博客系统</li>
    </ul>
</div>

<div id="thanks">
    <h1>鸣谢</h1>
    开发过程中，借鉴了大神的一些作品，在此表示感谢。想看大神的作品，请点击以下链接。
    <ul>
        <li>java代码部分：<a href="http://boot.bootdo.com/login" target="_blank">http://boot.bootdo.com/login</a></li>
        <li>前端界面部分：<a href="http://www.cssmoban.com/cssthemes/" target="_blank">http://www.cssmoban.com/cssthemes/</a>
        </li>

    </ul>
</div>
<div id="log">
    <h1>更新日志</h1>
</div>


<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

</body>
</html>