<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.byk.rong.boke.mapper.read.BokeDisplayWorksReadMapper">
  <resultMap id="BaseResultMap" type="com.byk.rong.boke.entity.BokeDisplayWorks">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="project_name" jdbcType="VARCHAR" property="projectName" />
    <result column="page_name" jdbcType="VARCHAR" property="pageName" />
    <result column="page_address" jdbcType="VARCHAR" property="pageAddress" />
    <result column="page_link" jdbcType="VARCHAR" property="pageLink" />
    <result column="page_class" jdbcType="VARCHAR" property="pageClass" />
    <result column="target_link" jdbcType="VARCHAR" property="targetLink" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="delete_user" jdbcType="VARCHAR" property="deleteUser" />
    <result column="delete_time" jdbcType="TIMESTAMP" property="deleteTime" />
    <result column="del_flag" jdbcType="VARCHAR" property="delFlag" />
  </resultMap>
  <sql id="Base_Column_List">
    id, project_name,page_name, page_address, page_link, page_class, target_link, create_user, create_time,
    update_user, update_time, delete_user, delete_time, del_flag
  </sql>
  <select id="selectById" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from display_works
    where id = #{id,jdbcType=VARCHAR}
  </select>

  <select id="selectByParams"  parameterType="com.byk.rong.boke.entity.BokeDisplayWorks" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List" /> FROM display_works
    <where>
      <if test="id != null and id != '' "> AND id =  #{id} </if>
      <if test="projectName != null and projectName != '' "> AND project_name =  #{projectName} </if>
      <if test="pageName != null and pageName != '' "> AND page_name =  #{pageName} </if>
      <if test="pageAddress != null and pageAddress != '' "> AND page_address =  #{pageAddress} </if>
      <if test="pageLink != null and pageLink != '' "> AND page_link =  #{pageLink} </if>
      <if test="pageClass != null and pageClass != '' "> AND page_class =  #{pageClass} </if>
      <if test="targetLink != null and targetLink != '' "> AND target_link =  #{targetLink} </if>
      <if test="createUser != null and createUser != ''"> and create_user = #{createUser} </if>
      <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
      <if test="updateUser != null and updateUser != ''"> and update_user = #{updateUser} </if>
      <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
      <if test="deleteUser != null and deleteUser != ''"> and delete_user = #{deleteUser} </if>
      <if test="deleteTime != null and deleteTime != ''"> and delete_time = #{deleteTime} </if>
      <if test="delFlag != null and delFlag != ''"> and del_flag = #{delFlag} </if>
    </where>
        order by create_time desc
    <if test="offset != null and limit != null">
      limit ${offset}, ${limit}
    </if>
  </select>
</mapper>